aiohttp
duckdb
fastapi
gmqtt
httpx
jinja2
jsonschema
matplotlib
mypy
networkx
numpy
openpyxl
orjson
pandas
plotly
pyarrow
pyserial-asyncio
pydantic
pytest
pytest-cov
python-dateutil
python-dotenv
python-multipart
PyYAML
pyzmq
requests
ruff
scikit-learn
scipy
seaborn
sqlalchemy
uvicorn[standard]
websockets
